body {
	background-color: #0d1117 !important;
}
body.dark {
	background-color: #0d1117 !important;
}
body.light {
	background-color: #b5b5b5 !important;
}
.app {
	background-color: #a3aeb9;
}
.gallery__image__label {
	color: #7f7f7f;
}
